---
layout: splash
author_profile: true
title: "Cloud Based Solutions and Services"
excerpt: "INQUIRIES@APCENSION.COM"
header:
  overlay_image: /assets/images/headerimage.jpg
  #caption: "Photo credit: [**Pexels**](https://pexels.com)"
  #cta_label: "More Info"
  #cta_url: /about/
page_related: true
#feature_row1:
#- title: "Devops Consulting"
#  excerpt: "Design. Delivery. Deployment."
feature_row2:
- image_path: assets/images/unsplash-gallery-image-5-th.jpg
  title: "We Scale Business Applications on the Cloud and Bare Metal"
  excerpt: "Our consulting team has the background and industry expertise to help your business leverage modern cloud technologies."
feature_row3:
  - image_path: assets/images/unsplash-image-gallery-6-th.png
    title: "Process Automation"
    excerpt: "DevOps is an ever important philosphy and role in the modern Enterprise. We can get your project on the right track today!"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    #alt: "placeholder image 2"
    title: "CI/CD AUTOMATION"
    excerpt: "Today's business is constantly evolving. Having the ability to test and deploy applications with confidence is critical. We can help."
    #url: "#test-link"
    #btn_label: "Read More"
    #btn_class: "btn--primary"
feature_row5:
  - image_path: /assets/images/unsplash-gallery-image-3-th.png
    title: "INFRASTRUCTURE AS CODE"
    excerpt: "Automation, dynamic environments & code versioning are just a couple reasons why you should be managing your infrastructure via code."
feature_row6:
  - image_path: /assets/images/unsplash-gallery-image-4-th.jpg
    alt: "placeholder image 2"
    title: "Maximizing Uptime"
    excerpt: "Simply deploying applications to the cloud isn't enough. Understanding how to maximize uptime for your unique applications is always our priority."

---
{% include feature_row id= "feature_row1" type="center" %}

{% include feature_row id= "feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}

{% include feature_row id="feature_row5" type="right" %}

{% include feature_row id="feature_row6" type="left" %}
