---
layout: blog
---
<div class="blog-list">
  <div class="blog-list-inner">
    {% for post in site.posts limit:1 %}
    <article class="post">
      <h1 class="post-title">
        <a href="{{ page.url }}">{{ page.title }}</a>
      </h1>
      <p class="post-meta">
        {% if page.twitter %} <a href="http://twitter.com/{{ page.twitter }}">{{ page.author }}</a>{% else %} {{ page.author }} {% endif %} {{ page.date | date: "%B %-d, %Y" }}
      </p>
      <div class="content">
        {{ content }}
        {% include disqus.html %}
      </div>
    </article>
    {% endfor %}
  </div>
</div>
